.clearfix:before, .clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}

.container {
    min-width: 320px;
    padding: 0px 10px;
    box-sizing: border-box;
}

.logo-area {
    width: 100%;
}


  
