.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}

.container {
    min-width: 320px;
    padding: 0px 15px;  /*Changed from 10 to 15*/
    box-sizing: border-box;
}

.logo-area {
    width: 100%;
}