.button {                /*Default css for commmon properties in whole page*/
    border: none;
    border-radius: 4px;
    background-color: rgb(47, 139, 230);
    padding: 0px 26px;
}
.button span {
    color: white;
}  
          
/*Main styling starts here*/

.header {
    background: linear-gradient(rgba(0,0,0,0.702), rgba(0,0,0,0.702)),url("../images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
    color: white;
}
.header-content {
    padding-bottom: 12%;
}
.logo-area img {
    display: block;
    margin: auto;
    padding: 20px 0px;
}
.nav-area {
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    border-top: 2px solid rgba(255, 255, 255, 0.2);
}
@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}
.nav-menu {
    display: none;
    width: calc(40px + 20%);
    float: left;
    position: relative;
    background:  rgb(47, 139, 230);
    border-radius: 12px;
    padding: 5px;
    margin: 8px 12px;
    animation: zoom 0.5s;
}
.nav-menu li {
    list-style: none;
    text-align: center;
}
.nav-menu li a {
    text-decoration: none;
    line-height: 2;
    color: white;
    text-align: center;
}
.fa.burger-menu {
    float: left;
    cursor: pointer;
    font-size: 24px;
    line-height: 1.66;
}
.nav-status {
    width: 100%;
}
.cart-area {
    float: right;
}
.fa.search-icon {
    display: none;
}
.fa.cart-icon {
    font-size: 20px;
    line-height: 1.8;
}
.items-counter {
    font-size: 14px;
    font-weight: bold;
    border-radius: 50%;
    background-color: rgba(134, 145, 157, 0.502);
    padding: 2px 5px;
    position: relative;
    right: 3px;
    bottom: 2px;
}
.login-button {
    margin-left: 5px;
}
.login-button span {
    font-size: 16px;
    line-height: 1.7;
}

.header-bottom {
    display: none;
}

/*Body  styling*/
.main-content-wrapper {
    background: #f1f5f8;
}
  
.search-area {
    width: 100%;
    margin: auto;
    background: white;
    border-radius: 4px;
    position: relative;
    bottom: 3.2vh;
}
.drop-down-search {
    background: white;
    font-size: calc(8px + 0.4vw);
    border: none;
    color: grey;
    height: 100%;
    width: 27%;
    padding: calc(8px + 0.612vw) 8px;
    border-radius: 4px 0px 0px 4px;
    border-right: 1px solid #e5e5e5;
}
.search-bar-wrapper {
    padding: calc(8px + 0.612vw) 8px;
    display: inline-block;
    width: 49%;
}
.search-bar {
    border: none;
    height: 100%;
    color: #7c5d5d;
    width: 100%;
    line-height: 1.7;
}
.search-bar:focus, .drop-down-search:focus {
    outline:none;
}
.search-button {
    border: none;
    background-color: rgb(47, 139, 230);
    padding: 0px 4px;
    border-radius: 0px 4px 4px 0px;
    width: 16%;
    float: right;
}
.search-button span {
    color: white;
    font-size: calc(10.7px + 0.9vw);
    line-height: 2.933;
}


/*Styling results area*/
.filter-area span {
    float: left;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.875;
}
  
.filter-buttons {
    float: left;
    margin: 0px 25px;
}
.filter-button {
    float: left;
    padding: 0px 15px;
    background: #dae1e7;
    list-style: none;
    border-radius: 3px;
    margin: 2.5px;
}
.filter-button a {
    text-decoration : none;
    color: black;
    font-size: 14px;
    line-height: 2.143;
} 
  
.filter-button:hover a, .active-filter a{
    color: white;
}
.filter-button:hover, .active-filter {
    background-color: #2f8be6;
}

.results {
    margin-top: calc(20px + 2.5%);
}
.product {
    list-style: none;
    border-radius: 5px;
    width: 370px;
    border-bottom: 2px solid #dae1e7;
    margin-right: 30px;
    margin-bottom: 30px;
}
.hover-content {
    background-color: rgba(33, 33, 33, 0.902);
    height:280px;
    width: 370px;
    position: absolute;
    opacity: 0;
    transition: 0.4s ease;
}
.product-status {
    background: #ebebeb;
    border-radius: 3px;
    width: 31%;
    padding: 0px 9px;
    margin: 10px;
}
.downloads {
    float: left;
}
.fa.download-icon, .fa.like-icon, .download-count, .like-count {
    font-size: 16px;
    line-height: 1.8;
}
.fa.download-icon {
    color: rgb(42, 164, 97);
}
.fa.like-icon {
    color:#ea4f4f;
}
.likes {
    float:right;
}
.product-action { 
    position: relative;
    top: 75px;
}
.fa.view-icon, .fa.shop-icon {
    border-radius: 5px;
    font-size: 18px;
    color: rgb(33, 33, 33);
    line-height: 1.9;
    padding: 0px 9px;
}
.fa.view-icon {
    background: white;
    margin-right: 2.5px;
}
.fa.shop-icon {
    margin-left: 2.5px;
    color: white;
    background: #2f8be6;
}
.thumbnail {
    background: white;
}
.thumbnail:hover .hover-content{
    opacity: 1;
}
.product-info {
    padding: 5px 25px 0px 25px;
    background-color: white;
}
.product-about {
    padding-bottom: 30px;
}
.product-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 3.5;
}
.product-description {
    font-size: 16px;
    color: rgb(68, 69, 70);
    line-height: 1.625;
}
.product-bottom {
    border-top: 1px solid #e9e9e9;
    padding: 15px 0px;
}
.product-author {
    float: left;
    width: 60%;
}
.author-pic {
    border-radius: 5px;   
    position: relative;
    top: 5px;
}
.author-name, .product-author span {
    font-size: 13px;
    color: rgb(162, 173, 184);
    margin-left: 2px;
}
.author-name {
    font-weight: bold;
}
.product-price {
    float: right;
    font-size: 14px;
    color: rgb(134, 145, 157);
    font-weight: bold;
    line-height: 2;
    padding: 0px 10px;
    border-radius: 3px;
    background: #f1f5f8;
}
.product-price::before {
    content: "$";
    padding-right: 3px;
}



.join-us-wrapper {
    background: url("../images/join-us-background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.testimonials-wrapper {
    background: #f1f5f8;
}

/*Styling footer*/
.footer {
    background: #21272c;
    color: rgb(218, 225, 231);
}
.copyright-area {
    float: left;
}
.copyright-area span {
    font-size: 14px;
    line-height: 1.714;
}

.contact-area {
    display: none;
}