.button {                /*Default css for commmon properties in whole page*/
    border: none;
    border-radius: 4px;
    background-color: rgb(47, 139, 230);
    padding: 0px 26px;
}
.button span {
    color: white;
}                      
/*Main styling starts here*/
.header {
    background: linear-gradient(rgba(0,0,0,0.702), rgba(0,0,0,0.702)),url("../images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
    color: white;
}
.logo-area img {
    display: block;
    margin: auto;
    padding: 16px 0px;
}
.nav-area {
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    border-top: 2px solid rgba(255, 255, 255, 0.2);
}
.nav-menu {
    display: none;
    position: absolute;
    top: 119px;
    width: 94.56%;
    background:  rgb(47, 139, 230);
}
.nav-menu li {
    list-style: none;
}
.nav-menu li a {
    text-decoration: none;
    line-height: 2;
    color: white;
}
.fa.burger-menu {
    float: left;
    cursor: pointer;
    font-size: 20px;
    line-height: 1.6;
}
.nav-status {
    width: 100%;
}
.cart-area {
    float: right;
}
.fa.search-icon {
    display: none;
}
.fa.cart-icon {
    font-size: 16px;
    line-height: 1.8;
}
.items-counter {
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    background-color: rgba(134, 145, 157, 0.502);
}
.login-button {
    font-size: 15px;
    line-height: 1.7;
    margin-left: 5px;
}
.header-bottom-buttons {
    width: 55%;
    margin: auto;
}
.view-products span, .see-pricing span{
    font-size: 18px;
    line-height: 2.78;
}
.see-pricing {
    background: #86919d;
    margin: auto;
}
  



.main-content-wrapper {
    background: #f1f5f8;
}
.join-us-wrapper {
    background: url("../images/join-us-background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.testimonials-wrapper {
    background: #f1f5f8;
}

/*Styling footer*/
.footer {
    background: #21272c;
    color: #444a4f;
}
.copyright-area {
    float: left;
}
.copyright-area span {
    font-size: 14px;
    line-height: 1.714;
}

.contact-area {
    display: none;
}